/* * {
    border: 1px dotted #0000006c;
} */

body {
    margin: 0;
    width: 600px;
    margin: auto;
} 

header {
    background-image: url('./images/header.png');
    background-size: 100%;
    height: 167px;
}

.header-text {
    display: flex;
    flex-direction: column;
    font-family: "Smythe", system-ui;
    color: #FFF;
    gap: 0px;
    margin: 10px;
}

.header-text * {
    margin: 0px;
}