*,::before,::after {
    box-sizing: border-box;
}

html, 
body {
    margin: 0;
    padding: 0;
    font-family: "Source Sans 3", sans-serif;
}

header {
    display: flex;
    margin: auto 1.57em auto 1.57em;
}

header a {
    color: #0E0E0E;
    text-decoration: none;
}

header img {
    width: 23px;
    height: 23px;
    margin: auto 0.28em auto 0;
}

.header-name {
    font-size: 0.844rem;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
}

nav {
    display: flex;
    font-size: 0.75rem;
    font-weight: 600;
    color: #090909;
    gap: 1.83em;
    margin: auto 0 auto auto;
}

.hero {
    display: flex;
    height: 293px;
    background-image: url('../images/article-image-hero.png');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 1.563em 1.25em;
}

.hero div {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    gap: 0.5em;
}

.hero div * {
    margin:0;
}

.blog {
    display: grid;
    grid-template: repeat(3,1fr) / 1fr;
    margin: 2.125em 1.25em 1.25em 1.25em;
    gap: 2.563em;
}

.blog-image {
    height: 232px;
    width: 100%;
    object-fit: cover;
    border-radius: 3px;
    margin-bottom: 0.875em;
}

.blog time {
    font-size: 0.875rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: 800;
    color: #141414;
    margin: 0.375em 0;
}

.blog div p {
    color: #505050;
    margin: 0;
}

.more {
    text-decoration: underline;
    text-align: center;
    margin: 0.438em 0 2.688em 0;
    font-size: 1rem;
    font-weight: bold;
}

footer {
    display: flex;
    flex-direction: column;
    height: 105px;
    background-color: #202020;
    font-size: 0.75em;
    font-weight: bold;
    color: #ECECEC;
    justify-content: center;
    align-items: center;
    gap: 0.25em;
}

footer p {
    font-weight: 400;
    color: #D7D7D7;
}

footer * {
    margin: 0;
}

/* ABOUT */

.info {
    margin: 2.125em 1.25em 1.25em 1.25em;
    color: #151515;
}

.info time {
    font-size: 0.75em;
}

.info .blog-image {
    height: 191px;
}

.recent-heading {
    text-align: center;
    margin: 3.188em 0 0.625em;
}

.avatar {
    width: 182px;
}

.abt-subhead {
    margin-top: 3.125em;
}